/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2016, 2:17:19 PM
    Author     : iwuvhugs
*/
html,body {
    height: 100%;
    min-height: 100%;

}

footer {
    position: fixed;
    padding-top: 40px;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
}

footer p {
    /*margin-top: 40px;*/
}

.container {
    margin-bottom:  140px; 
}

.btn {
    white-space: normal;
}

.delete_btn {
    float: right;
    color: #888;
    text-decoration: none;
}
.delete_btn:hover {
    color: #000;
    text-decoration: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    /*padding: 0;*/
}